<div id="mainWrapper">
  <main class="clearfix">
    <section>
    <h1>New Cars</h1>
    <hr class="fadeAway">

    <figure class="photo">
      <img src="/assets/images/black.jpg" alt="black car">
      <figcaption> SALE: £4678</figcaption>
    </figure>

    <figure class="photo">
      <img src="/assets/images/silver.jpg" alt="silver car">
      <figcaption> SALE: £6712</figcaption>
    </figure>

    <figure class="photo">
      <img src="/assets/images/blue.jpg" alt="blue car">
      <figcaption> SALE: £9427</figcaption>
    </figure>

    <figure class="photo">
      <img src="/assets/images/red.jpg" alt="red car">
      <figcaption> SALE: £9233</figcaption>
    </figure>
    </section>

    <div class="pop">
      <p class="title">Summer's On Us</p>
      <p class="subtitle">Sales Event</p>
      <p class="copy"><span>0</span> payments for 5 months</p>
      <p class="copy"><span>0</span> % interest for 5 months</p>
    </div>
    <section>
      <h2>Blog Topics</h2>
      <div class="blog">
        <article>
          <h3>Topic 1</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursusnon porta, nisi turpis.
            Ultricies
            integer
            sociis etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue
            enim. Add
            additional words so that it is taller than the one to the right.</p>
        </article>
        <article>
          <h3>Topic 2</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 3</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue
            enimElementum,
            sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in, urna
            phasellus in
            ac
            egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies integer sociis
            etiam
            ultrices
            dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 4</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 5</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 6</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 7</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
        <article>
          <h3>Topic 8</h3>
          <p>Elementum, sagittis adipiscing, nec et? Ridiculus, porta placerat ultrices odio diam in,
            urna
            phasellus in ac egestas egestas nunc, pellentesque, non porta, nisi turpis. Ultricies
            integer
            sociis
            etiam ultrices dis facilisis nascetur. Pellentesque cursus integer mauris augue enim</p>
        </article>
      </div> <!-- end of blog -->
    </section>
    <!--end of section-->
  </main>
</div> <!-- end of wrapper -->
{{yield}}