   <!-- PAGE FOOTER GOES HERE -->
    <div id="footerWrapper">
        <footer>
            <p>&copy;2017 Paul's Auto &bull; <a href="tel:9875551234">987-555-1234</a></p>
        </footer>
    </div> <!-- end of wrapper -->
{{yield}}