   <!-- PAGE HEADER GOES HERE -->
    <div id="headerWrapper">
        <header>
            <form><input type="text" placeholder="search..."></form>
            <h1>{{title}}</h1>
            <h2>{{tagline}}</h2>
        </header>
    </div> <!-- end of wrapper -->

{{yield}}