   <!-- PAGE HEADER GOES HERE -->
    <div id="headerWrapper">
        <header>
            <form><input type="text" placeholder="search..."></form>
            <h1>Paul's Autos</h1>
            <h2>Quality you can ride in</h2>
        </header>
    </div> <!-- end of wrapper -->

{{yield}}