<div id="navWrapper">
  <nav class="clearfix">
    <ul>
      <li class="active"><a href="index.html">New</a></li>
      <li><a href="used.html">Used</a></li>
      <li><a href="service.html">Service</a></li>
      <li><a href="location.html">Location</a></li>
    </ul>
  </nav>
</div> <!-- end of wrapper -->
{{yield}}